[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nexell Jenkins (nxJenkins)
[access "refs/for/refs/*"]
	read = group user/Nexell Jenkins (nxJenkins)
	push = group user/Nexell Jenkins (nxJenkins)
	label-Code-Review = -2..+2 group user/Nexell Jenkins (nxJenkins)
	label-Verified = -1..+1 group user/Nexell Jenkins (nxJenkins)
	rebase = group user/Nexell Jenkins (nxJenkins)
	removeReviewer = group user/Nexell Jenkins (nxJenkins)
	submit = group user/Nexell Jenkins (nxJenkins)
[access "refs/heads/*"]
	read = group user/Nexell Jenkins (nxJenkins)
	create = group user/Nexell Jenkins (nxJenkins)
	push = +force group user/Nexell Jenkins (nxJenkins)
	pushMerge = group user/Nexell Jenkins (nxJenkins)
[access "refs/tags/*"]
	push = group user/Nexell Jenkins (nxJenkins)
	push = +force group user/Nexell Jenkins (nxJenkins)
